.container{
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: white;
    color: var(--dark-main-color);
    transition: all .5s;
    border-radius: 5px;
    width: fit-content;
}

.container h2{
    margin: 0;
    font-weight: 600;
}

.container:hover{
    background-color: var(--dark-main-color);
    color: white;
}